@import "bootstrap/dist/css/bootstrap.min.css";

.anim-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: auto;
  width: fit-content;
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid black;
}

.anim-field {
  width: 600px;
  height: 300px;
  border: 1px solid black;
  position: relative;
  background-image: url(/img/wood-bg.jpg);
  background-position: center;
  background-size: contain;
  border-radius: 1rem;
}

.anim-ball {
  border-radius: 50%;
  position: absolute;
}

/* Custom CSS for the Easy Calculator */
.calculator-body {
  max-width: 350px;
  background-color: #dee2e6; /* Light grey background */
  border: 1px solid #adb5bd;
}

.display-screen {
  height: 65px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  overflow: hidden;
  background-color: #f8f9fa !important; /* Lighter shade for display */
  padding: 0.5rem !important;
}

.display-text {
  font-size: 2rem;
  font-family: monospace;
  max-width: 100%;
  overflow: hidden;
}

.formula-display {
  font-size: 0.8rem;
  color: #6c757d;
  height: 18px;
  text-align: right;
  width: 100%;
  overflow: hidden;
}

/* ทำให้ปุ่มดูดีขึ้น */
.btn-block {
  width: 100%;
}

.btn-info {
  background-color: #007bff; /* สีน้ำเงินสำหรับ Operator */
  border-color: #007bff;
}

.btn-success {
  background-color: #28a745; /* สีเขียวสำหรับ = */
  border-color: #28a745;
}
